/* STYLES THAT AFFECT: HOME, ABOUT, PORTFOLIO */
body {
    font-family: 'Lato', sans-serif;
    background-color: #FFF3F7;
}

/*===== HEADER SECTION =====*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-bottom: 45px;
}

/*===== NAV SECTION =====*/
nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
}
nav ul li {
    flex: 1;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #DD2013;
    margin-left: 36px;
    margin-right: 36px;
    padding-right: 36px;
    font-size: 14px;
}
.nav-links {
    background-color: #FFC4D8;
    padding: 20px;
    width: 100%;
}
/*===== NAV ANIMATION =====*/
nav a:hover {
    color:#FFF3F7;
    transition: transform 2s;
}
/*===== END NAV ANIMATION =====*/

/*===== HOME SECTION =====*/
h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
    padding-top: 36px;
}
.home-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.heart-image {
    padding-right: 7px;
}
.bre-image {
    padding-left: 7px;
}
.home-text {
    color: black;
    font-size: 16px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 16px;
    padding-top: 17.5px;
    text-align: center;
}
h3 {
    color: #FD74A0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
.contact-text {
    color: black;
    font-size: 18px;
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 12px;
}
.tiktok-text {
    color: black;
    font-size: 18px;
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 12px;
    padding-bottom: 32px;
}

/*===== ABOUT SECTION =====*/
h2 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
    padding-top: 36px;
}
.about-text {
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-left: 36px;
    margin-right: 36px;
}
.creator-design-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*===== PORTFOLIO SECTION =====*/
.portfolio-text {
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-left: 36px;
    margin-right: 36px;
}
.coffee-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.bakery-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.feedback-text {
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 16px;
    padding-bottom: 14px;
}

/*===== FOOTER SECTION =====*/
footer {
    background-color: #FFC4D8;
    color: #DD2013;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.footer-copyright {
    margin: 0 auto;
    padding-top: 15px;
    font-size: 10px;
}
.footer-contact {
    font-size: 10px;
}